NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyA0Gt_ueT9tIuKqp-3_mvenN-EpLStC_ME",
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="healthsathi-c7ec6.firebaseapp.com",
NEXT_PUBLIC_FIREBASE_PROJECT_ID="healthsathi-c7ec6",
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="healthsathi-c7ec6.firebasestorage.app",
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= "890847482230",

NEXT_PUBLIC_FIREBASE_APP_ID="1:890847482230:web:fd362973b70d9263ac6a57",

NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID= "G-P99NR0K2Q3"

